{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
        <img src="{{ asset('img/Donald.png') }}" />

    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css')}}" />
{% endblock %}

{% block title %}Cadastro de usuários{% endblock %}

{# formulário de cadastro de usuário #}

{% block body %}

    <form method="POST" action="{{ url('web_usuario_salvar')}}">
        <input type="text" name="nome" placeholder="Nome" />
        <input type="email" name="email" placeholder="E-mail"/>

        <button type="submit">Salvar</button>
    </form>
{% endblock %}